/*@@media screen only and (min-width:860px) and (max-width:1560px) {*/
  /*.navbar-nav{*/
    /*padding-left: 18%;*/
  /*}
  .navbar-nav li{
    padding-left: 25px;
  }

  body{
    overflow: auto;
  }*/

header h3{
     position: absolute;
     top: 480px;
     left: 0;
     width: 100%;

  }
  header a{
       position: absolute;
       top: 540px;
       left: 0;
       width: 100%;
       color: black;
       /*font-size: 30px;*/


    }
  header h1 {
     position: absolute;
     font-family: 'Lobster', cursive;
     font-size: 70px;
     top: 400px;
     left: 0;
     width: 100%;
  }



  /*ABout us*/
.first:after {
  border-right: 2px solid orange;
}
#about{
  background: black;
  background-image: url(../images/image-1.jpeg);
}


#training a:hover{
  color:grey;
}
#training a{
  text-decoration: none;
}
#training {
  background: #FDF3E7;
}
